dreamplace/version.py
dreamplace.egg-info

*.o
*.a
*.pyc
*obj*
# *dist*
*.so
test.*
# *.svg
# *.png

.vscode/
__pycache__/
build/
lib/
build_ori/
res/
# log/
install/
bin/
include/
results*/
# benchmarks/
# thirdparty/
tmp/

.DS_Store
configure.py
mytest