dreamplace/version.py
dreamplace.egg-info

*.o
*.a
*.pyc
*obj*
# *dist*
*.so
configure.*
test.*
*.svg
*.png

.vscode/
__pycache__/
build/
bin/
lib/
res/
log/
install/
benchmarks/
tmp/
results/
include/
# thirdparty/

.DS_Store
dreamplace/ops/place_io/mytest